html {
  height: 100%;
}

body {
  background-color: $cream;
  font-family: $base;
  font-color: $gray;
  font-size: 21px;
  text-align: justify;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $pistil;
}


