<div class="body-content">

  <div class="col-md-4">
    <img class="my-face" src="images/hannahface.png" alt="hannah nordgren" />
  </div>

  <div class="col-md-8">
    <div class="word-box">
      <h1 class="title">I'm Hannah Nordgren.</h1>
      <h2 class="subtitle">I make beautiful things for interesting people.</h2>
      <h1 class="cta-intro">I also wear many hats. <a class="cta-link" href="#">Like These.</a></h1>
    </div>
  </div>

</div> <!-- closes body content. -->

<div class="roles-content">

  <div class="my-hat">
    <div class="col-md-3">
      <h1>Image goes here.</h1>
    </div>
    <div class="col-md-9">
      <h2>I'm a Developer.</h2>
      <p>I am a front end developer with full stack training.  I've worked in Ruby, JavaScript, Sinatra, Rails, Ember and Angular, then made all that sparkle with Compass, Sass, Bootstrap, Foundation, Bourbon, Neat and Bitters.</p>
    </div>
  </div>

  <div class="my-hat">
    <div class="col-md-9">
      <h2>I'm a Designer.</h2>
      <p>I enjoy aesthetics and user experience equally as much as developing software.  With my background as a designer, I offer a unique perspective on software development.</p>
    </div>
    <div class="col-md-3">
      <h1>Image goes here.</h1>
    </div>
  </div>

  <div class="my-hat">
    <div class="col-md-3">
      <h1>Image goes here.</h1>
    </div>
    <div class="col-md-9">
      <h2>I'm a Contstant Learner.</h2>
      <p>Cupcake ipsum dolor sit amet. Toffee carrot cake cotton candy sweet roll candy. Ice cream toffee icing. Carrot cake biscuit topping marzipan apple pie marshmallow toffee fruitcake. Bonbon jelly pie. Pie soufflé wafer croissant danish caramels. Jelly-o ice cream biscuit. Jelly marzipan chocolate cake tiramisu tootsie roll.</p>
    </div>
  </div>

  <div class="cta">
    <h1>That's pretty cool.  <button type="button" class="btn">Can I see some stuff?</button></h1>
  </div>


</div> <!-- closes roles content -->

<div class="case-studies">
  <h1 class="case-study-title">Sure.</h1>
  <h2 class="case-study-subtitle">Here's a few examples.</h2>

  <div class="projects">
    <div class="col-md-3">
      <div class="avd">
      </div>
      <h1>Image goes here</h1>
    </div>

    <div class="col-md-3">
      <div class="cinnalott">
      </div>
      <h1>Image goes here</h1>
    </div>

    <div class="col-md-3">
      <div class="old-fashioned">
      </div>
      <h1>Image goes here</h1>
    </div>

    <div class="col-md-3">
      <div class="techway">
      </div>
      <h1>Image goes here</h1>
    </div>
  </div>

  <div class="professional-background">
    <h2 class="pro-back">...and more.</h2>
    <h3 class="whisper">(Also available <a href ="#">here.</a>)</h3>
    <div class="col-md-6">
      <h1>Education</h1>
        <ul class="education">
          <li>Flatiron School: Full Stack Web Development Fellowship, 2013</li>
          <li>Pratt Institute: BFA(Fashion Design), 2000</li>
        </ul>
    </div>

    <div class="col-md-6">
      <h1>Work Experience(s)</h1>
        <ul class="education">
          <li><a href="#">The Maki Fund</a></li>
          <li><a href="#">Wizard Development</a></li>
          <li><a href="#">Nifty Thrifty</a></li>
          <li>...and others.</li>
        </ul>
    </div>

  </div>




</div> <!-- closes case studies -->


