
<div class="body-content" id="body-content">

  <div class="col-md-4">
    <img class="my-face" src="images/hannahface.png" alt="hannah nordgren" />
  </div>

  <div class="col-md-8">
    <div class="word-box">
      <h1 class="title">I'm Hannah Nordgren.</h1>
      <h2 class="subtitle">I make beautiful things for interesting people.</h2>
      <div class="cta">
        <h1 class="cta-intro">I also wear many hats. <a class="cta-link" href="#">Like These.</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="roles-content" id="roles-content">

  <div class="my-hat top-hat">
    <div class="col-md-3">
      <img class="thumbnail-img-beerhat" src="images/helmethead.png" alt="Hannah Nordgren Developer">
    </div>
    <div class="col-md-9">
      <h1 class="role-title">I'm a Developer.</h1>
      <p>I am a front end developer.  I've worked with JavaScript, Angular, Ember, Object Oriented CSS (and Sass!), Compass, Bourbon, Neat and Bitters to make applications sparkle. I particularly enjoy working with Client Side Frameworks and Responsive Design,  coded so that other developers can dissect it easily in the future.</p>
    </div>
  </div>

  <div class="my-hat">
    <div class="col-md-9">
      <h1 class="role-title">I'm a Designer.</h1>
      <p>I enjoy aesthetics and user experience equally as much as making the software work.  Prior to becoming a developer I was both a technical designer in the fashion industry and a hairdresser, so with my background in design and beauty I offer a unique perspective on software development.</p>
    </div>
    <div class="col-md-2">
      <img class="thumbnail-img" src="images/artisthannah.png" alt="Hannah Nordgren Designer"/>
    </div>
  </div>

  <div class="my-hat">
    <div class="col-md-3">
      <img class="thumbnail-img-beerhat" src="images/learnedhannah.png" alt="Hannah Nordgren Never Stops Learning">
    </div>
    <div class="col-md-9">
      <h1 class="role-title">I'm a Constant Learner</h1>
      <p>I knew that being a developer was my dream job when I would come home from a full day of work to try out new frameworks and libraries on my own personal projects.  I enjoy strengthening my skills by trying new things, blogging about what I'm working on and tutoring others.</p>
    </div>
  </div>

  <div class="cta">
    <h1 class="text-cta">That's pretty cool.  <a class="cta-link" href="#">Let's check out the goods.</a></h1>
  </div>
</div>

<div class="examples-content" id="examples-content">
  <h1 class="examples-title">Sure Thing.</h1>
  <h2 class="examples-subtitle">Here's a few examples of work I've done.</h2>

  <div class="projects">
    <div class="col-md-3">
      <div class="avd">
      </div>
      <img class="project-thumb" src="images/avd.png" alt="Amy Van Doran, Matchmaker" />
    </div>

    <div class="col-md-3">
      <div class="cinnalott">
      </div>
       <img class="project-thumb" src="images/swedeheart.png" alt="Cinna Liselott, puppeteer" />
    </div>

    <div class="col-md-3">
      <div class="old-fashioned">
      </div>
      <img class="project-thumb" src="images/oldfashioned.png" alt="old fashioned" />
    </div>

    <div class="col-md-3">
      <div class="techway">
      </div>
       <img class="project-thumb" src="images/techway.png" alt="techway pc repair NYC" />
    </div>
  </div>

  <div class="professional-background" id="professional-content">
    <h2 class="pro-back">...and my background.</h2>
    <h3 class="whisper">(<a href ="#", target="_blank">Get the fine print here.</a>)</h3>
    <div class="col-md-6">
      <h1 class="life-experience">Education</h1>
        <ul class="education">
          <li ng-repeat="school in schools">
            <span>{{school.name}}: {{school.program}}, {{school.graduation}}</span></li>
        </ul>
    </div>

    <div class="col-md-6">
      <h1 class="life-experience">Work Experience(s)</h1>
        <ul class="education">
          <li><a href="#">The Maki Fund</a></li>
          <li><a href="#">Wizard Development</a></li>
          <li><a href="#">Nifty Thrifty</a></li>
          <li>...and others.</li>
        </ul>
    </div>

  </div>




</div> <!-- closes case studies

