<section class="techway-splash">
  <div class="casestudy-header">
    <h1 class="casestudy-title">Techway NY</h1>
    <h2 class="casestudy-subtitle">A collaborative group project</h2>
  </div>

  <div class="casestudy">
    <div class="col-md-10 col-md-offset-1">
      <a href="#"><img class="site-img" src="images/techwaysite.png" alt="Techway NY Rocks Your Face Off" /></a>
    </div>
    <div class="casestudy-more-button">
      <div class="col-md-1 col-md-offset-6 casestudy-col">
        <i class="fa fa-chevron-circle-down fa-2x"></i>
      </div>
    </div>
  </div>
</section>

<section class= "techway-description">
  <div class="project-highlights">
    <div class="col-md-4">
      <h1 class="case-study-title">The Query</h1>
      <p class="case-study-paragraph">Cupcake ipsum dolor sit amet pudding marshmallow liquorice. Carrot cake I love halvah icing. Dessert brownie jelly. Danish lemon drops sweet jelly beans. Fruitcake candy canes jelly-o I love fruitcake tart. Applicake jelly-o caramels lemon drops chocolate cake sesame snaps macaroon danish. Jelly-o chocolate bar carrot cake icing fruitcake. Danish icing liquorice unerdwear.com chocolate cake pudding jujubes cake. Jelly-o I love topping cotton candy tiramisu lemon drops chocolate cake. I love brownie fruitcake cotton candy topping.</p>
    </div>

    <div class="col-md-4">
      <h1 class="case-study-title">Plan of Attack</h1>
      <p class="case-study-paragraph">Cupcake ipsum dolor sit amet pudding marshmallow liquorice. Carrot cake I love halvah icing. Dessert brownie jelly. Danish lemon drops sweet jelly beans. Fruitcake candy canes jelly-o I love fruitcake tart. Applicake jelly-o caramels lemon drops chocolate cake sesame snaps macaroon danish. Jelly-o chocolate bar carrot cake icing fruitcake. Danish icing liquorice unerdwear.com chocolate cake pudding jujubes cake. Jelly-o I love topping cotton candy tiramisu lemon drops chocolate cake. I love brownie fruitcake cotton candy topping.</p>
    </div>

    <div class="col-md-4">
      <h1 class="case-study-title">The Solution</h1>
      <p class="case-study-paragraph">Cupcake ipsum dolor sit amet pudding marshmallow liquorice. Carrot cake I love halvah icing. Dessert brownie jelly. Danish lemon drops sweet jelly beans. Fruitcake candy canes jelly-o I love fruitcake tart. Applicake jelly-o caramels lemon drops chocolate cake sesame snaps macaroon danish. Jelly-o chocolate bar carrot cake icing fruitcake. Danish icing liquorice unerdwear.com chocolate cake pudding jujubes cake. Jelly-o I love topping cotton candy tiramisu lemon drops chocolate cake. I love brownie fruitcake cotton candy topping.</p>
    </div>
  </div>

</section>

